.card-userdni{
    width: 36.3rem;
    height: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    display: grid;
    text-align: center;
    align-items: center;
    color: #F6F4FF;
}

.contenido-userdni{
    display:grid;
    align-items: center;
    justify-content: center;
}

@Media (max-width: 576px){
    .card-userdni{
        width: 25rem;
        padding-bottom: 50px;
        height: 300px;
    }
    .contenido-userdni{
        display: block;
    }

    .rollback-btn{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
}