.menu {
    width: 20rem;
    min-height: 100vh;
    background-color: #1A5F7A;
 }

 .items-container{
    background-color: #1A5F7A;
    display: grid;
    text-align: start;
    justify-content: right;
 }

.menu-item {
    display: flex;
    width: 9em;
    height: 3.75rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    align-items:flex-end;
    color: #F6F4FF;
    padding-top: 0.5rem;
    border-bottom: 4px solid #F6F4FF;
}

