.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensaje{
    display: grid;
    padding-top: 30px;
    width: 270px;
    height: 338px;
    background-color: white;
    border-radius: 30px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: #002B5B;
    justify-content: center;
    align-items: center;
}

.modal-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}