.codigo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56.5rem;
}

.c-1{
    margin-left: 1.875rem;
    width: 22.8rem;
    height: 2.625rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;

    color: #1A5F7A;
}

.grafico-numero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-2{
    width: 17.3rem;
    height: 3.7rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;

    text-align: center;

    color: #1A5F7A;
}

.etapa{
    width: 12.5rem;
    height: 4rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.9rem;
    text-align: center;

    color: #002B5B;
}

.avo-button{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.state-stage2{
    display: flex;
    align-items: center;
    height: 5.6rem;
    margin-top: 1.25rem;
    padding-left: 6rem;
}

@Media (max-width: 576px){
   
    .codigo{
        width: 18rem;
        align-items: start;
    }

    .codigo-porcentaje{
        width: 18rem;
    }

    .c-1{
        width: 9rem;
        height: 3rem;
        margin-bottom: 1.875rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    .avo-button{
        height: 3rem;
    }

    .etapa{
        height: 3rem;
        font-size: 3rem;
        line-height: 3.68rem;
    }

    .state-stage2{
        justify-content: space-around;
        align-items: center;
        width: 18rem;
        padding: 0;
        height: 3rem;
    }
}