.page-body {
    padding: 2rem;
    min-height: calc(100vh - 7rem);
    width: 100%;
}

.grid-style {
    display: inline-block;
    max-height: 6rem;
    overflow: auto;
    white-space: nowrap;
}

/* .grid-style {
    display: flex;
    overflow-x: hidden
} */

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    opacity: 70%;
}

.font-basics {
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}

.font-secondary {
    font-weight: bold;
    text-align: center;
    color: black;
}

.footer {
    background-color: #159895;
}
