body {
    margin: 0;
}

.primary-color {
    background-color: #159895;
}

.background {
    background-color: #57C5B6;
}

.appbar {
    background-color: #159895;
}

.footer {
    background-color: #159895;
}
