.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.profile{
    min-width: 90vw;
    min-height: 90vh;
    background: rgba(255,255,255,0.40);
    border-radius: 30px;
}

.photo-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.username{
    width: 8.5rem;
    height: 4rem;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.8rem;
    letter-spacing: 0em;
}

.full-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.profile-info{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #002B5B;
    width: 7.5rem;
    text-align: right;
}

.birthdate{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
}

.close-container{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.edit-container{
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: right;
    align-items: end;
    padding-right: 1.6rem;
}



