.menu {
    width: 20rem;
    min-height: 100vh;
    background-color: #1A5F7A;
 }

 .items-container{
    background-color: #1A5F7A;
    display: grid;
    text-align: start;
    justify-content: right;
 }

.menu-item {
    display: flex;
    width: 9em;
    height: 3.75rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    align-items:flex-end;
    color: #F6F4FF;
    padding-top: 0.5rem;
    border-bottom: 4px solid #F6F4FF;
}

@media (max-width: 576px) {
    .menu{
        min-width: 100vw;
        display:flex;
        text-align:center;
        justify-content:center;
        align-items:start;
    }

    .items_container{
        align-items: center;
    }

    .menu-item{
        margin-top:2rem;
        min-width:80vw;
        justify-content: center;
    }
}