.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-no-iniciado {
    width: 1fr;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #692420;
    font-style: normal;
    width: 37rem;
    height: 27.75rem;
    font-family: "Montserrat";
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.875rem;
  }

  .p1-t{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.75em;
  }
  
  .p2-t{
    font-weight: 500;
    font-size: 2.25em;
    line-height: 2.75em;
  }
  
  .tramite-bottom{
    display:flex;
    justify-content: center;
    text-align: center;
  }

  .card-iniciado{
    width: 56.5rem;
    height: 32rem;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 43, 91, 0.5);
    border-radius: 1.875rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }


  @Media (max-width: 576px){
    .card-iniciado{
      width: 18rem;
      height: 23.8rem;
    }

    

    .card-no-iniciado{
      width: 15rem;
      height: 11rem;
      border-radius: 3.125rem;
    }

   
  }