body, html {
    margin: 0;
    padding: 0;
    background-color: #57C5B6;
  }
  
  .home-container {
    display: grid;
    grid-template-rows: 100vh;
  }
  
  .columns-container {
    display: grid;
    grid-template-columns: 20rem 1fr;
  }