body {
    margin: 0;
}

.page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: calc(100vh - 7rem);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: grey;
    border-radius: 2rem;
    opacity: 90%;
}

.font-basics {
    font-weight: bold;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
}

.font-secondary {
    font-weight: bold;
    color: black;
}

.primary-color {
    background-color: #159895;
}

.background-color {
    background-color: #57C5B6;
}

.background-white {
    background-color: white;
}

.footer {
    background-color: #159895;
}
